numpy
pandas
matplotlib
comet-ml
scikit-learn
python-dotenv
ipytest
tensorflow==2.14
sagemaker
sagemaker[local]
ruff
nbformat
nbdev
nbclient
ipykernel
Flask
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
